.d-flex{
    gap: 10px;
}
.h1{
    text-align: center;
    color: blue;
}
.p{
    text-align: center;
}
.div{
    text-align: center;
}
.b{
    height: 50px;
    width: 100px;
    border-radius: 5px;
}
.b1 {
    background-color: blue;
    color: white;
    border: none;
}
.b2 {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.icon{
    text-align: center;
}